---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <hr>
    <article class="page-content">
        {{ content }}
    </article>
</div>
<div class="post-area post comment">
    <!-- 多说评论框 start -->
    
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="howiewang.github.io{{ page.url }}"></div>
</div>
</div>
    
    <!-- 多说评论框 end -->
 <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>

</div>
